<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<update id="updateBoard" parameterType="com.gn.spring.board.model.vo.Board">
		UPDATE `board`
		SET board_title = #{board_title}, board_content = #{board_content}
		<if test='ori_thumbnail != null and new_thumbnail != null'>
			,ori_thumbnail = #{ori_thumbnail}
			,new_thumbnail = #{new_thumbnail}
		</if>
		<where>
			board_no = #{board_no}
		</where>
	</update>
	
	
	<select id="selectBoardOne" resultType="com.gn.spring.board.model.vo.Board"
	parameterType="_int">
		SELECT *
		FROM `board`
		<where>
			board_no = #{board_no}
		</where>
	</select>
	
	<insert id="createBoard" parameterType="com.gn.spring.board.model.vo.Board">
		INSERT INTO `board` (board_title, board_content, ori_thumbnail, new_thumbnail)
		VALUES(#{board_title}, #{board_content}, #{ori_thumbnail}, #{new_thumbnail})
	</insert>
	
	<select id="selectBoardCount" resultType="int"
	parameterType="com.gn.spring.board.model.vo.Board">
		SELECT COUNT(*)
		FROM `board`
		<if test='search_text != null and search_text.equals("") == false'>
			<where>
				<!-- <if test='board_title != null and board_title.equals("") == false'>
					board_title LIKE CONCAT('%', #{board_title}, '%')
				</if> -->
				<choose>
					<when test='search_type != null and search_type == 1'>
						board_title LIKE CONCAT('%',#{search_text}, '%')
					</when>
					<when test='search_type != null and search_type == 2'>
						board_content LIKE CONCAT('%',#{search_text}, '%')
					</when>
					<otherwise>
						board_title LIKE CONCAT('%',#{search_text}, '%')
						OR board_content LIKE CONCAT('%',#{search_text}, '%')
					</otherwise>
				</choose>
			</where>
		</if>
	</select>
	
	<select id="selectBoardList" resultType="com.gn.spring.board.model.vo.Board"
	parameterType="com.gn.spring.board.model.vo.Board">
		SELECT *
		FROM `board`
		<if test='search_text != null and search_text.equals("") == false'>
			<where>
				<!-- <if test='board_title != null and board_title.equals("") == false'>
					board_title LIKE CONCAT('%', #{board_title}, '%')
				</if> -->
				<choose>
					<when test='search_type != null and search_type == 1'>
						board_title LIKE CONCAT('%',#{search_text}, '%')
					</when>
					<when test='search_type != null and search_type == 2'>
						board_content LIKE CONCAT('%',#{search_text}, '%')
					</when>
					<otherwise>
						board_title LIKE CONCAT('%',#{search_text}, '%')
						OR board_content LIKE CONCAT('%',#{search_text}, '%')
					</otherwise>
				</choose>
			</where>
		</if>
		LIMIT #{limitPageNo},#{numPerPage}
	</select>
</mapper>
